body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #303030;
    display: grid;
    place-items: center;
    animation: fade-in 1s ease-out forwards;
}

#flashContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    filter: blur(5px);
    pointer-events: none;
}

#flashContainer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(19, 19, 19, 0) 0%, rgb(19, 19, 19) 70%, rgb(19, 19, 19) 100%), url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: 50%;
}

#contactInfo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40em;
    margin: auto;
    animation: slide-in 1s ease-out;
  }
  .grid-item {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    text-shadow: 0 0 10px #202020;
    z-index: 2;
  }
  .grid-item {
    border-bottom: 1px solid #ccc; /* Horizontal line between rows */
  }
  /* Remove bottom border from the last row */
  .grid-item:last-child {
    border-bottom: none;
  }

a {
  color: inherit;
}

  @keyframes slide-in {
      from {
        transform: translate(0, 40px);
        opacity: 0;
      } to {
        transform: translate(0, 0);
        opacity: 1;
      }
  }

  .flash {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: bloom 5s ease-in-out both;
    mix-blend-mode: color-dodge;
    transition: 5s linear;
}

.right-align {
  float: right;
}

@keyframes bloom {
  0% { filter: blur(50px); scale: 0; }
  10% { filter: blur(10px); scale: 1; }
  100% { filter: blur(500px); scale: 0; }
}

@keyframes fade-in {
    from { opacity: 0; }
}
